<div *mobxAutorun>

  <div class="imgviewer">
  <img alt="" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded" />
</div>
  <!-- <label class="uploader small" ondragover="return false;" [class.loaded]="loaded"
    [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()"
    (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">

    <em class="icon icon-upload" *ngIf="!loaded && imageSrc" [style.color]="dragging
            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></em>

    <img alt="" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded" />
    <input type="file" name="file" accept="image/*" (click)="handleClick($event)" (change)="handleInputChange($event)">
  </label>

  <div *ngIf="obj != null || obj !== undefined">
    <button *ngIf="obj.hasContent()" type="button" class="btn btn-link" (click)="deletePicture(obj)">Delete</button>
  </div> -->

</div>
