<div *mobxAutorun>
  <div *ngIf="obj" >
    <label class="uploader small1" ondragover="return false;" [class.loaded]="loaded"
      [style.outlineColor]="dragging ? activeColor : baseColor" 
      (dragenter)="handleDragEnter()"
      (dragleave)="handleDragLeave()" 
      (drop)="handleDrop($event)"
      >

      <em class="icon icon-upload" *ngIf="!loaded && imageSrc" [style.color]="dragging
            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></em>

      <!-- <img alt="" [src]="obj.imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded" /> -->
      <div *ngIf="obj && obj.fileContent">
      {{obj.fileContent.name}}
      </div>
      <input type="file" name="file"  (click)="handleClick($event)"
        (change)="handleInputChange($event)">
    </label>


    <button *ngIf="obj.hasContent()" type="button" class="btn btn-link" (click)="deletePicture(obj)">{{'DELETE' | ls}}</button>
  </div>
</div>
